body {
    background-color: #f1d849;
}
.searchfield {
    font-family: "Montserrat", sans-serif;
    width: 22em;
    height: 2em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    font-size: 1.0em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
.searchbutton {
    padding: 1px 2px 1px !important;
    font-size: 12px !important;
    background-color: #1B349F;
    font-weight: bold;
    text-shadow: 1px 1px #1B349F;
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #1B349F;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    width:80px;
}
.searchcontainer {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:12em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    visibility:visible;
}
.logincontainer {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:12em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    visibility:hidden;
}
.logincontent {
    position:fixed;
    top: 33%;
    left: 41%;
}
.searchcontent {
    position: fixed;
    top: 33%;
    left: 41%;
}
.email-login {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}